@model TableActionsVM

@if (Model.Actions.Contains(TableActions.Show))
{
    <a  title="Show" asp-controller="@Model.Controller" asp-action="Details" asp-route-id="@Model.TableData.Id" class="btn btn-cyan btn-sm text-white"><i class="fas fa-eye" aria-hidden="true"></i></a>
}
@if (Model.Actions.Contains(TableActions.Edit))
{
    if (!Model.TableData.IsDeleted)
    {
        <a title="Edit" asp-controller="@Model.Controller" asp-action="Edit" asp-route-id="@Model.TableData.Id" class="btn btn-success btn-sm text-white"><i class="far fa-edit" aria-hidden="true"></i></a>
    }
}
@if (Model.Actions.Contains(TableActions.Delete))
{
    if (Model.Actions.Contains(TableActions.SoftDelete) && @Model.TableData.IsDeleted)
    {
        <form style="display: inline;" method="POST" asp-controller="@Model.Controller" asp-action="Restore" role="form">
            <input type="hidden" name="Id" value="@Model.TableData.Id" />
            <button title="Restore" type="submit" class="btn btn-danger btn-sm"><i class="far fas fa-recycle" aria-hidden="true"></i></button>
        </form>
        <form style="display: inline;" method="POST" asp-controller="@Model.Controller" asp-action="Delete" role="form">
            <input type="hidden" name="Id" value="@Model.TableData.Id" />
            <button title="Delete Permanently" type="submit" class="btn btn-danger btn-sm"><i class="far fa-trash-alt" aria-hidden="true"></i></button>
        </form>
    }
    else{
        <form style="display: inline;" method="POST" asp-controller="@Model.Controller" asp-action="@( Model.Actions.Contains(TableActions.SoftDelete) ? "SoftDelete" : "Delete")" role="form">
            <input type="hidden" name="Id" value="@Model.TableData.Id" />
            <button title="Delete" type="submit" class="btn btn-danger btn-sm"><i class="far fa-trash-alt" aria-hidden="true"></i></button>
        </form>
    }
    
}